* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(#000000 0%, #01000c 50%, #030136 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    position: relative;
}

:root {
    font-size: 62.5%;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.936);
}

.page {
    padding: 3rem 20rem;
}

.page.hide {
    filter: blur(5px);
}

/**/

.footer-top {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 7rem;
}

.logo {
    width: 6rem;
    height: 6rem;
    background-color: #fff;
    border-radius: 10px;
}

.txt {
    display: flex;
    gap: 3rem;
    font-size: 1.3rem;
}

.txt a {
    text-decoration: none;
    color: #fff;
    
}

button {
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5px;
    border: none;

    font-weight: 500;
    color: white;
    background: #1a187e;
    cursor: pointer;

    transition: all 700ms;
}

button:hover {
    transition: all 700ms;
    background-color: #02007b;
}

/*texts e img*/

.page-home {
    display: flex;
    justify-content: space-between;
}

.texts {
    margin-top: 2rem;
}

.texts h2{
    font-size: 2rem;
    font-weight: 600;
}

.texts h1 {
    margin-top: 2rem;
    font-size: clamp(2.5rem, 3.5vw, 20rem);
    white-space: nowrap;
}

span {
    color: #000000;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: white;
}

.texts p {
    margin-top: 2rem;
    font-size: clamp(.7rem, 1vw ,1.5rem);
    color: rgb(195, 195, 195);

    width: 45rem;
}

.texts button {
    margin-top: 7rem;
}

.img-home {
    margin-left: 5rem;
    height: clamp(20rem, 50%, 50rem);
    width: clamp(20rem, 50%, 50rem);
    overflow: hidden;
}

/* responsividade */

@media(max-width: 1250px) {
    .img-home {
        display: none;
    }

    .page-home {
        display: flex;
        justify-content: center;
    }

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texts h1 {
        text-align: center;
    }

    .texts p {
        text-align: center;
    }
}

@media(max-width: 1100px) {
    .page {
        margin-top: 3rem;
        padding: 3rem 2rem;
    }
    
    .texts h2 {
        font-size: clamp(1.2rem, 2vw, 2.5rem);
    }

    .texts h1 {
        font-size: clamp(3rem, 6vw ,8rem);
    }

    .texts p {
        font-size: clamp( 1rem, 1.5vw ,3rem);
        width: 100%;
    }

    .txt a {
        margin-top: -1rem;
        cursor: pointer;
    }

    .footer-top {
        display: flex;
        justify-content: center;
        gap: 6rem;
    }
}

@media(max-width: 690px) {
    .logo {
        display: none;
    }

    .footer-top button {
        display: none;
    }
}

@media(max-width: 400px) {
    .page {
        padding: 0 2rem;
    }
}

/*parte dois*/

.projetos {
    margin-top: 10rem;
}

h2 {
    font-size: clamp(4rem, 2vw, 6rem);
    font-weight: 900;
    font-style:oblique;
    margin: 0 auto 10rem;
}

.imagens-project {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5rem;
}

li {
    display: flex;
    gap: 3rem;
    background-color: rgba(0, 0, 0, 0.29);
    padding: 2rem;
    border-radius: 10px;
}

li img {
    width: clamp( 12rem , 20vw , 30rem) ;
    height: 100% + 2rem;
    border-radius: 5px ;
    object-fit: cover;
}

li h1 {
    font-size: clamp(2rem, 2vw, 4rem);
    margin-top: -6px;
}

li p {
    font-size: clamp(.8rem , 1.5vw ,1.2rem) ;
}

li div{
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/**/

.alerta {
    display: none;
    opacity: 0;
}

.alerta.hide{
    position: absolute;
    
    display: flex;
    opacity: 1;

    align-items: center;
    justify-content: center;
    z-index: +1;
    
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 5rem;
}

/*formas de contato*/

.logos {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.imglogos {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    width: 100vw;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.29);
    width: 13rem;
    padding: 2rem;
    border-radius: 15px;
}

.imglogos img{
    width: 3rem;
    height: 3rem;
}

.imglogos div {
    align-items: center;
    display: flex;
    gap: 1rem;
}

/*feedbacks*/

#feedbacks {
    width: 100%;
}

table {
    width: 100%;
    min-height: 17rem;

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.29);
}

tr {
    margin: 2rem;

    display: flex;
    flex-direction: column;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.perfil img {
    width: 5rem;
    height: 5rem;
}

.perfil h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-top: -1rem;
}

.feed {
    margin-top:  2rem;
}

.feed input {
    border: none;
    border-radius: 5px;
    padding: 1.3rem 5rem;
    outline: none;
}

.feed button {
    margin-left: 11rem;
    padding: 1.4rem;
}


@media(max-width: 730px) {
    .feed input {
        padding: 1.3rem 2rem;
    }
    
    .feed button {
        margin: 0 .1rem 0 8rem;
    }
}

@media(max-width: 637px) {
    
    .feed {
        width: 100%;
    }
    
    .feed button {
        padding: 1.5rem .5rem;
        margin: 0 .1rem 0 1.2rem;
    }
}

@media(max-width: 550px) {
    
    tr {
        margin: 2rem;
    }

    .logos {
        display: flex;
        flex-direction: column;
    }

    .imglogos {
        width: 100%;
        justify-content: space-between;

        display: flex;
        flex-direction: row;
    }

    .imglogos div {
        display: flex;
        flex-direction: column;

        margin: 0 2rem 0 2rem;
    }
    
    .feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .feed button {
        margin: auto;
    }
}

/* pagina de login */

.loginPage {
    display: flex;
    flex-direction: column;
    position: absolute;

    gap: 2rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    position: fixed;

    z-index: +1;

    width: 70vw;
    height: 50vh;

    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background-color: rgb(0, 3, 62);

    visibility: 1;
    opacity: 1;
}

.loginPage.hide{
    visibility: hidden;
    opacity: 0;
}

.loginPage input {
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 2px;
}